.monaco-editor .scroll-decoration {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.75) !important;
    top: -6px !important;
}

.monaco-editor .selected-text {
    box-shadow: inset 0 0 10px #ffffff75 !important;
}

.monaco-editor .highlight {
    animation: blurpleGlow 10s infinite ease !important;
}

.monaco-workbench .tab {
    font-family: 'Monaspace Krypton', 'FiraCode Nerd Font', 'JetBrains Mono', Consolas, monospace !important;
}

.monaco-workbench .tab:hover {
    box-shadow: inset 0 0 10px #bcbcbc !important;
    transition: box-shadow 0.2s ease !important;
}

.monaco-workbench .tab.active {
    font-weight: bold;
    box-shadow: inset 0 0 10px #999999 !important;
    border: 0 0 2px rgba(255, 255, 255, 0.25) !important;
    border-radius: 5px !important;
    text-shadow: 0 0 10px currentColor !important;
    transition: box-shadow 0.2s !important;
    background: linear-gradient(110deg, #171726, #7a7a7a) !important;
}

.monaco-workbench .tab.active:hover {
    box-shadow: inset 0 0 20px #bbbbbb !important;
}

.monaco-editor {
    text-shadow: 0 0 20px currentColor !important;
}

.currentFindMatchInline {
    background: #000 !important;
}

.monaco-list.list_id_1 .monaco-list-row.selected {
    opacity: 1 !important;
    border-top: 1px #727b90 solid !important;
    border-bottom: 1px #727b90 solid !important;
    box-shadow: inset 0 0 5px #bbbbbb !important;
    transition: box-shadow 0.2s !important;
    background: linear-gradient(110deg, #24243c, #575757) !important;
}

.monaco-list.list_id_1 .monaco-list-row.selected:hover {
    box-shadow:
        inset 0 0 10px currentColor,
        0 0 5px currentColor !important;
}

.monaco-list.list_id_1 .monaco-list-row.selected .label-name {
    opacity: 1 !important;
}

.monaco-workbench .part.sidebar .title-actions .actions-container {
    display: none !important;
}

.monaco-tree .monaco-tree-row .label-name,
.monaco-list .monaco-list-row .monaco-icon-label .label-name {
    font-family: 'FiraCode Nerd Font', 'JetBrains Mono', Consolas, monospace !important;
    font-weight: 400 !important;
    font-size: 15px !important;
}

.explorer-item-edited {
    font-family: 'FiraCode Nerd Font', 'JetBrains Mono', Consolas, monospace !important;
    font-size: 15px !important;
    font-style: italic !important;
}

.monaco-scrollable-element > .shadow.top {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75) !important;
    top: -3px !important;
}

.composite.title {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-items: center !important;
}

.composite.title h2 {
    font-weight: bold !important;
    font-size: 12px !important;
    color: #ffcfff !important;
    text-shadow: 0 0 25px #cb29c8 !important;
}

.slider {
    position: absolute !important;
    right: 8px !important;
    width: 8px !important;
    background: linear-gradient(210deg, #bc9abc, #e73be7) !important;
    left: auto !important;
    box-shadow: 0 0 25px #a132a1 !important;
    border-radius: 25px;
    transition:
        box-shadow 0.2s ease,
        width 0.4s ease !important;
}

.slider:hover {
    box-shadow: 0 0 35px #ff4eff !important;
    width: 12px !important;
}

.monaco-editor .cursor {
    background-color: #c7b7ff !important;
    box-shadow: 0 0 10px #988fff;
}

.monaco-editor-hover,
.monaco-hover {
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.45) !important;
    background-image: linear-gradient(#3c3c50 0%, #2a2b38 100%) !important;
    backdrop-filter: blur(3px) !important;
    border-radius: 16px !important;
    border: none !important;
    outline: 0px !important;
}

.monaco-resizable-hover {
    border: none !important;
}

.monaco-workbench .part.titlebar > .titlebar-container > .titlebar-center > .window-title > .command-center .action-item.command-center-center {
    border: none !important;
    background: transparent !important;
}

.titlebar-left {
    justify-content: flex-end !important;
    flex-grow: 0 !important;
    width: 75px !important;
}

.search-label {
    font-family: 'FiraCode Nerd Font', 'JetBrains Mono', Consolas, monospace !important;
    font-size: 14px !important;
}

.codicon-arrow-right,
.codicon-arrow-left {
    display: none !important;
}

.command-center-center {
    width: auto !important;
}

.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.35) !important;
    padding: 10px 10px 18px 10px !important;
    background-image: linear-gradient(#24243c 0%, #000000 100%) !important;
    border-radius: 10px !important;
    z-index: 35000 !important;
    position: absolute !important;
    isolation: isolate !important;
    filter: none !important;
    backdrop-filter: none !important;
}

.quick-input-list,
.quick-input-list .list_id_6 {
    min-height: 400px !important;
    text-shadow: 0 0 10px currentColor !important;
}

.monaco-list-rows {
    background: transparent !important;
}

.quick-input-filter .monaco-inputbox {
    border-radius: 12px !important;
    padding: 16px !important;
    border: none !important;
    font-family: 'FiraCode Nerd Font', 'JetBrains Mono', Consolas, monospace !important;
    font-size: 16px !important;
    margin-bottom: 16px !important;
}

.quick-input-inline-action-bar .actions-container .action-item {
    margin-bottom: 16px !important;
}

.quick-input-header {
    align-items: center !important;
}

.monaco-inputbox input::placeholder {
    color: rgba(255, 255, 255, 0.3) !important;
}

@keyframes blurpleGlow {
    0% {
        color: rgb(136, 233, 255);
        text-shadow: 0 0 10px rgb(136, 233, 255);
    }
    25% {
        color: rgb(94, 151, 230);
        text-shadow: 0 0 10px rgb(94, 151, 230);
    }
    50% {
        color: rgb(155, 119, 233);
        text-shadow: 0 0 10px rgb(135, 97, 217);
    }
    75% {
        color: rgb(94, 151, 230);
        text-shadow: 0 0 10px rgb(94, 151, 230);
    }
    100% {
        color: rgb(136, 233, 255);
        text-shadow: 0 0 10px rgb(136, 233, 255);
    }
}

@keyframes highlightGlow {
    0% {
        color: rgb(249, 81, 255);
        text-shadow: 0 0 10px rgb(249, 81, 255);
    }
    50% {
        color: rgb(116, 61, 255);
        text-shadow: 0 0 10px rgb(116, 61, 255);
    }
    100% {
        color: rgb(249, 81, 255);
        text-shadow: 0 0 10px rgb(249, 81, 255);
    }
}

.highlight-glow {
    animation: highlightGlow 5s infinite ease;
}
